.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875em;
}

.navbar {
  background-color: #007bff;
  padding: 10px;
  color: white;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.navbar a:hover {
  text-decoration: underline;
}

.task-list {
  margin-top: 20px;
}

.task-list h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  border: 1px solid #2d1c1c;
  padding: 8px 0;
}

.task-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;

}

.task-item input,
.task-item textarea {
  display: block;
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.task-item button {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.task-item button:hover {
  background-color: #0056b3;
}


.task-display {
  border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27%;
}